*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html {
  padding: env(safe-area-inset);
}

html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
  margin: 0 auto !important;
}

body {
  margin: 0 auto;
  padding: 0px;
  -webkit-outline: none;
  outline: none;
  position: relative;
  min-width: 320px;
  max-height: 1000000px;
  min-height: 100vh;
  text-decoration-skip: objects;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

:focus,
:active,
:hover,
:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0) !important;
  -webkit-outline: none;
  outline: none;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

iframe {
  display: block;
  border: none;
}

img {
  display: block;
  border: none;
  max-width: 100%;
}

textarea {
  white-space: pre-wrap;
  resize: none;
}

button,
select {
  display: block;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-family: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: none;
}

button {
  width: auto;
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

[type=search],
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  -webkit-outline: none;
  outline: none;
}

[type=search]::-webkit-search-decoration,
::-webkit-file-upload-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[hidden],
::-ms-clear,
area {
  display: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  padding: 0;
}

menu,
dir {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-moz-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-moz-placeholder {
  color: inherit;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  -webkit-outline: none;
  outline: none;
  text-decoration-skip-ink: none;
}

[type=date]::-webkit-inner-spin-button {
  display: none;
}

[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

body {
  font-family: "Mont";
}
body.hidden {
  overflow: hidden;
}

.overlay-new::before {
  background-color: rgba(40, 41, 34, 0.5);
  backdrop-filter: blur(10px) contrast(0.6);
  -webkit-backdrop-filter: blur(2px) contrast(0.6);
}

.checkBl a {
  text-decoration: underline;
  transition: text-decoration 0.3s;
}
@media (hover: hover) {
  .checkBl a:hover {
    text-decoration-color: transparent;
  }
}
.checkBl label {
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  padding-left: 35px;
  display: inline-block;
}
.checkBl label::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 20px;
  height: 20px;
  top: -2px;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 1px #000;
}
.checkBl input {
  display: none;
}
.checkBl input:checked + label::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.299716 6.44309L1.99006 4.73145L5.43466 8.11923L12.8849 0.697354L14.5895 2.409L5.43466 11.5283L0.299716 6.44309Z' fill='%23F94242'/%3e%3cpath d='M0.299716 6.44309L1.99006 4.73145L5.43466 8.11923L12.8849 0.697354L14.5895 2.409L5.43466 11.5283L0.299716 6.44309Z' fill='%23F94242'/%3e%3cpath d='M0.299716 6.44309L1.99006 4.73145L5.43466 8.11923L12.8849 0.697354L14.5895 2.409L5.43466 11.5283L0.299716 6.44309Z' fill='%23525151'/%3e%3c/svg%3e ");
}
.checkBlList {
  padding: 20px 0;
}

.form__field + .checkBl {
  margin-top: -20px;
}
@media (max-width: 1279px) {
  .form__field + .checkBl {
    margin-top: 20px;
  }
}

.checkBl + .checkBl {
  margin-top: 20px;
}

.notification-cookie {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.11);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  z-index: 9999999;
}
@media (max-width: 767px) {
  .notification-cookie {
    width: calc(100% - 40px);
    font-size: 14px;
    line-height: 18px;
    gap: 20px;
    padding: 20px;
  }
}
@media (max-width: 389px) {
  .notification-cookie {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;
  }
}
.notification-cookie .notification-cookie__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  color: rgb(0, 0, 0);
}
@media (max-width: 389px) {
  .notification-cookie .notification-cookie__text {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
.notification-cookie .notification-cookie__link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
  transition: text-decoration 0.3s;
}
@media (max-width: 767px) {
  .notification-cookie .notification-cookie__link {
    font-size: 12px;
  }
}
.notification-cookie .notification-cookie__link:hover {
  text-decoration-color: transparent;
}
.notification-cookie .notification-cookie__btn {
  width: 190px;
  height: 48px;
  border-radius: 12px;
  transition: opacity 0.3s;
  font-weight: 600;
  font-size: 18px;
  padding: 6px;
}
@media (max-width: 767px) {
  .notification-cookie .notification-cookie__btn {
    font-size: 16px;
  }
}
.notification-cookie .notification-cookie__btn:hover {
  opacity: 0.85;
}

button:disabled,
.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.header-new {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(97, 100, 92);
  transition: transform 0.5s;
  z-index: 10;
  color: rgb(128, 128, 128);
}
@media (max-width: 1599px) {
  .header-new {
    font-size: 14px;
  }
}
@media (max-width: 1439px) {
  .header-new {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .header-new {
    font-size: 12px;
    line-height: 14px;
  }
}
.header-new__phone {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-new__phone::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.3223 10.1663L10.3223 10.1664L10.3302 10.1689C11.2415 10.4645 12.2191 10.6289 13.23 10.6289C13.3739 10.6289 13.5 10.755 13.5 10.8989V13.5822C13.5 13.722 13.4626 13.8433 13.4128 13.9143C13.3904 13.9463 13.3681 13.9648 13.3469 13.9762C13.3267 13.987 13.2917 14 13.23 14C6.28818 14 0.5 8.21922 0.5 1.27C0.5 1.19857 0.514827 1.16087 0.525117 1.14189C0.535729 1.12232 0.552595 1.10235 0.583149 1.08193C0.653403 1.03496 0.777077 1 0.925556 1H3.61667C3.76052 1 3.88667 1.12614 3.88667 1.27C3.88667 2.27628 4.04183 3.25362 4.34618 4.16855C4.37164 4.25254 4.36035 4.34115 4.31296 4.41477L3.47775 4.86504L3.0574 5.09166L3.26447 5.52198C4.4126 7.9078 6.55902 9.97168 8.85863 11.0687L9.20629 11.2345L9.45533 10.9407L10.0638 10.2228C10.1396 10.1545 10.2379 10.1374 10.3223 10.1663Z' stroke='%2361645C'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 14px;
  height: 14px;
}
@media (max-width: 1279px) {
  .header-new__phone {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .header-new__phone {
    display: none;
  }
}
.header-new__blockFixed {
  display: none;
  width: 156px;
}
.header-new-social {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 767px) {
  .header-new-social {
    margin-left: auto;
    gap: 12px;
  }
}
.header-new-social a {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  transition: all 0.3s !important;
}
.header-new-social a:hover {
  transform: scale(1.2);
}
.header-new-social__what {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.2891 10.1039C12.0892 10.0035 11.1054 9.52008 10.9223 9.45276C10.7385 9.38608 10.6051 9.3531 10.4711 9.55378C10.3385 9.75375 9.95465 10.2042 9.83821 10.3375C9.72171 10.4715 9.60455 10.4876 9.40458 10.3881C9.20455 10.287 8.55955 10.0762 7.79525 9.39483C7.20073 8.86426 6.79873 8.20908 6.68224 8.00847C6.56576 7.80851 6.67013 7.7001 6.76978 7.60044C6.86 7.51089 6.97043 7.36677 7.07009 7.25026C7.17041 7.13311 7.20338 7.04965 7.27078 6.91565C7.33738 6.78233 7.3044 6.66584 7.25393 6.56551C7.20338 6.46519 6.80344 5.4801 6.63713 5.07945C6.47418 4.6896 6.30921 4.74279 6.18667 4.73606C6.07018 4.73066 5.93686 4.72932 5.80287 4.72932C5.66954 4.72932 5.45273 4.77915 5.26958 4.9798C5.08643 5.17978 4.56931 5.66392 4.56931 6.64901C4.56931 7.63342 5.28641 8.58485 5.38606 8.71886C5.4864 8.85214 6.79738 10.8735 8.80462 11.7401C9.28198 11.9461 9.65438 12.0694 9.94526 12.1609C10.4246 12.3138 10.861 12.2922 11.2051 12.2404C11.5895 12.1832 12.3888 11.7563 12.5558 11.2889C12.7228 10.8217 12.7228 10.421 12.6723 10.3375C12.6225 10.2541 12.4898 10.2042 12.2891 10.1039ZM8.63828 15.0886H8.63562C7.44364 15.0887 6.27358 14.7682 5.24803 14.1607L5.00496 14.0166L2.486 14.6779L3.15799 12.2215L2.99976 11.9697C2.33344 10.9087 1.98095 9.6809 1.98301 8.42791C1.98369 4.75828 4.96994 1.77269 8.641 1.77269C10.4186 1.77269 12.0898 2.46623 13.3463 3.72402C13.9662 4.34121 14.4576 5.07523 14.7919 5.88358C15.1263 6.69194 15.297 7.55857 15.2942 8.43336C15.2922 12.103 12.3066 15.0886 8.63828 15.0886ZM14.3031 2.76856C13.5612 2.02177 12.6785 1.42965 11.7061 1.0265C10.7337 0.623338 9.69095 0.417178 8.63828 0.419949C4.22455 0.419949 0.632296 4.01221 0.630276 8.42726C0.630276 9.83857 0.99859 11.2162 1.69954 12.4302L0.562943 16.5801L4.80834 15.4664C5.98237 16.1061 7.29795 16.4412 8.63491 16.4413H8.63828C13.0514 16.4413 16.6443 12.8491 16.6463 8.43336C16.6495 7.38111 16.4442 6.33867 16.042 5.36632C15.6397 4.39398 15.0487 3.51103 14.3031 2.76856Z' fill='%2361645C'/%3e%3c/svg%3e ");
}
.header-new-social__telega {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.5419 0.0554915C13.3036 0.0302179 13.0445 0.0674365 12.7843 0.170323C12.4616 0.297229 7.40603 2.42391 2.69332 4.4078L1.13612 5.06316C0.533143 5.30763 0.228699 5.70527 0.228699 6.24085C0.228699 6.61583 0.387395 7.12446 1.14453 7.42416L3.77299 8.47719C4.00028 9.15904 4.52818 10.7422 4.66082 11.1631C4.73969 11.4126 4.93889 12.0412 5.44221 12.1881C5.54546 12.2233 5.6532 12.2414 5.7629 12.2413C6.08055 12.2413 6.30919 12.0936 6.42104 12.0075L8.09168 10.5946L10.1208 12.4711C10.199 12.5506 10.6126 12.9527 11.1682 12.9527C11.8616 12.9527 12.3875 12.3756 12.4972 11.8171C12.5567 11.511 14.5137 1.68687 14.5137 1.68831C14.6893 0.900346 14.3735 0.491588 14.1706 0.317362C13.9967 0.168588 13.7801 0.0807651 13.5419 0.0554915ZM13.0672 1.60429C12.7969 2.95938 11.3233 10.356 11.0996 11.4222L8.1337 8.67887L6.12142 10.3831L6.67873 8.20273C6.67873 8.20273 10.5235 4.31088 10.7551 4.08432C10.9415 3.90292 10.9806 3.83933 10.9806 3.77624C10.9806 3.69235 10.9375 3.632 10.8378 3.632C10.7482 3.632 10.6264 3.71788 10.5619 3.75803C9.74217 4.2691 6.25148 6.25777 4.53338 7.23509L2.04075 6.23949L3.25066 5.73115C6.33293 4.43339 11.8225 2.12195 13.0672 1.60429Z' fill='%2361645C'/%3e%3c/svg%3e ");
}
.header-new-social .mobile {
  display: none;
}
@media (max-width: 767px) {
  .header-new-social .mobile {
    display: flex;
  }
}
.header-new.fixed {
  transform: translateY(-42px);
}
.header-new.fixed .header-new__fixed {
  display: block;
}
.header-new.fixed .header-new__bottom .btn-phone {
  display: flex;
}
.header-new.fixed .logo-new {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .header-new.fixed .logo-new {
    margin: 0;
  }
}
.header-new.fixed .menu-new {
  display: none;
}
.header-new.fixed .btn-catalog.mobile {
  display: none;
}
.header-new.fixed .btn-catalog {
  order: -1;
}
@media (max-width: 767px) {
  .header-new.fixed .btn-catalog {
    order: 2;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .header-new.fixed {
    transform: translateY(0);
  }
  .header-new.fixed .header-new__blockFixed {
    display: none;
  }
  .header-new.fixed .btn-search {
    display: flex;
  }
}
.header-new a {
  color: rgb(128, 128, 128);
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: text-decoration 0.3s;
  -moz-transition: text-decoration 0.3s;
  -o-transition: text-decoration 0.3s;
  transition: text-decoration 0.3s;
}
@media (hover: hover) {
  .header-new a:hover {
    text-decoration-color: rgb(128, 128, 128);
  }
}

.header-new-top {
  position: relative;
  padding: 12px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  transition: transform 1s;
}
@media (max-width: 1599px) {
  .header-new-top {
    padding: 12px 30px;
  }
}
@media (max-width: 1279px) {
  .header-new-top {
    padding: 11px 25px;
  }
}
@media (max-width: 1023px) {
  .header-new-top {
    padding: 12px 25px;
  }
}
@media (max-width: 767px) {
  .header-new-top {
    padding: 11px 15px;
  }
}
.header-new-top__left {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1599px) {
  .header-new-top__left {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .header-new-top__left {
    gap: 20px;
  }
}
.header-new-top__right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-new-top__right ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1279px) {
  .header-new-top__link {
    display: none;
  }
}
.header-new-top a {
  color: #61645c;
  font-weight: 400;
}
.header-new-top a strong {
  font-weight: 600;
  color: #282922;
}

.header-new__bottom {
  position: relative;
  padding: 18px 80px;
  display: flex;
  align-items: center;
}
@media (max-width: 1599px) {
  .header-new__bottom {
    padding: 18px 30px;
  }
}
@media (max-width: 1279px) {
  .header-new__bottom {
    padding: 14px 25px;
  }
}
@media (max-width: 1023px) {
  .header-new__bottom {
    padding: 10px 25px;
  }
}
@media (max-width: 767px) {
  .header-new__bottom {
    padding: 7px 15px;
  }
}

.logo-new {
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-new > a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
}
.logo-new svg {
  width: 150px;
  height: 30px;
}
@media (max-width: 1439px) {
  .logo-new svg {
    width: 100px;
  }
}
@media (max-width: 1279px) {
  .logo-new svg {
    width: 150px;
    height: 30px;
  }
}
@media (max-width: 1023px) {
  .logo-new svg {
    width: 120px;
    height: 24px;
  }
}
@media (max-width: 767px) {
  .logo-new svg {
    width: 90px;
    height: 18px;
  }
}
.logo-new:hover {
  opacity: 0.75;
}
@media (max-width: 1279px) {
  .logo-new {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .logo-new {
    margin: 0;
  }
}

.menu-new {
  color: rgb(40, 41, 34);
  margin: 0 auto;
}
.menu-new ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 1699px) {
  .menu-new ul {
    gap: 20px;
  }
}
.menu-new a {
  color: rgb(128, 128, 128);
}
.menu-new .summercolor {
  font-weight: 600 !important;
}
.menu-new .summercolor a {
  color: #918767 !important;
}
.menu-new .summercolor a:hover {
  text-decoration-color: #918767;
}
@media (max-width: 1279px) {
  .menu-new {
    display: none;
  }
}

.header-new-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .header-new-controls {
    gap: 13px;
    display: none;
  }
}
.header-new-controls .btn-search {
  margin-right: 50px;
}
@media (max-width: 1799px) {
  .header-new-controls .btn-search {
    margin-right: 0;
  }
}

.menu-sections__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  pointer-events: none;
  z-index: 10;
}
.menu-sections__wrapper.opened {
  pointer-events: initial;
}
.menu-sections__wrapper.opened::before {
  opacity: 1;
}
.menu-sections__wrapper::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: -1;
}

.menu-sections {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  position: relative;
  transform: translateX(-100%);
  z-index: 5;
  width: 422px;
  background-color: rgb(255, 255, 255);
  padding: 45px 30px;
  transition: transform 0.5s;
}
@media (max-width: 767px) {
  .menu-sections {
    padding: 25px 15px;
    width: 320px;
    min-height: 100vh;
  }
}
@media (max-width: 639px) {
  .menu-sections {
    padding: 15px;
    width: 100%;
    max-width: 400px;
  }
}
.menu-sections.opened {
  transform: translateX(0);
}
.menu-sections__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-sections__bottom {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 80px;
  line-height: 24px;
  font-size: 12px;
}
@media (max-width: 767px) {
  .menu-sections__bottom {
    margin-top: 40px;
    line-height: 20px;
    gap: 15px;
  }
}
.menu-sections__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
.menu-sections__close {
  cursor: pointer;
}
.menu-sections__close svg {
  pointer-events: none;
}
.menu-sections__row {
  margin-top: 45px;
}
@media (max-width: 767px) {
  .menu-sections__row {
    margin-top: 25px;
  }
}
.menu-sections__line {
  display: flex;
  flex-direction: column;
}
.menu-sections__line a {
  padding: 9px 0;
  display: block;
  width: 100%;
}
@media (max-width: 767px) {
  .menu-sections__line a {
    padding: 7px 0;
  }
}
.menu-sections__line + .menu-sections__line {
  margin-top: 25px;
  padding-top: 25px;
  border-top: solid 1px rgb(150, 150, 141);
}
@media (max-width: 767px) {
  .menu-sections__line + .menu-sections__line {
    margin-top: 15px;
    padding-top: 15px;
  }
}
.menu-sections__sub {
  position: relative;
}
.menu-sections__subLink {
  position: relative;
  width: 100%;
  display: block;
}
.menu-sections__subLink::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.0175781 1.94479L3.83424 5.76979L0.0175781 9.59479L1.19258 10.7698L6.19258 5.76979L1.19258 0.769791L0.0175781 1.94479Z' fill='%23283833'/%3e%3c/svg%3e ");
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.menu-sections__subLink.opened::before {
  transform: scale(-1, 1) translateY(-50%);
}
@media (max-width: 639px) {
  .menu-sections__subLink.opened::before {
    transform: scale(1, 1) translateY(-50%) rotate(-90deg);
  }
}
.menu-sections__sub-menu {
  position: absolute;
  left: calc(100% + 30px);
  top: -20px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  width: 250px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
@media (max-width: 767px) {
  .menu-sections__sub-menu {
    padding: 15px;
    width: 200px;
    top: -15px;
    left: calc(100% + 15px);
  }
}
@media (max-width: 639px) {
  .menu-sections__sub-menu {
    left: 0;
    width: 100%;
    top: 0;
    position: relative;
    display: none;
  }
}
.menu-sections__sub-menu.opened {
  opacity: 1;
  pointer-events: initial;
}
@media (max-width: 639px) {
  .menu-sections__sub-menu.opened {
    left: 0;
  }
}

.btn-catalog {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 12px;
  background-color: #918767;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-left: 35px;
}
@media (max-width: 1279px) {
  .btn-catalog {
    margin-left: 0;
    order: -1;
  }
}
@media (max-width: 767px) {
  .btn-catalog {
    display: flex;
    order: 2;
    margin: 0 !important;
    margin-left: auto !important;
  }
}
.btn-catalog::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.54545 4.09091C6.54545 2.7353 5.44652 1.63636 4.09091 1.63636C2.7353 1.63636 1.63636 2.7353 1.63636 4.09091V13.9091C1.63636 15.2647 2.7353 16.3636 4.09091 16.3636C5.44652 16.3636 6.54545 15.2647 6.54545 13.9091V4.09091ZM3 0C1.34314 0 0 1.34315 0 3V15C0 16.6569 1.34315 18 3 18H5.18182C6.83867 18 8.18182 16.6569 8.18182 15V3C8.18182 1.34315 6.83867 0 5.18182 0H3ZM16.3636 4.09091C16.3636 2.7353 15.2647 1.63636 13.9091 1.63636C12.5535 1.63636 11.4545 2.7353 11.4545 4.09091V5.72727C11.4545 7.08288 12.5535 8.18182 13.9091 8.18182C15.2647 8.18182 16.3636 7.08288 16.3636 5.72727V4.09091ZM12.8182 0C11.1613 0 9.81818 1.34315 9.81818 3V6.81818C9.81818 8.47503 11.1613 9.81818 12.8182 9.81818H15C16.6569 9.81818 18 8.47504 18 6.81818V3C18 1.34315 16.6569 0 15 0H12.8182ZM11.4545 14.7273C11.4545 13.8235 12.1872 13.0909 13.0909 13.0909H14.7273C15.631 13.0909 16.3636 13.8235 16.3636 14.7273C16.3636 15.631 15.631 16.3636 14.7273 16.3636H13.0909C12.1872 16.3636 11.4545 15.631 11.4545 14.7273ZM12.8182 18C11.1613 18 9.81818 16.6569 9.81818 15V14.4545C9.81818 12.7977 11.1613 11.4545 12.8182 11.4545H15C16.6569 11.4545 18 12.7977 18 14.4545V15C18 16.6569 16.6569 18 15 18H12.8182Z' fill='white'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 18px;
  height: 18px;
}
.btn-catalog.mobile {
  font-size: 22px;
  list-style: 24px;
  gap: 10px;
  display: none;
}
.btn-catalog.mobile::before {
  width: 24px;
  height: 24px;
}
@media (max-width: 1279px) {
  .btn-catalog.mobile {
    display: flex;
    font-weight: 600;
    width: 156px;
  }
}
@media (max-width: 767px) {
  .btn-catalog.mobile {
    display: none;
  }
}

.btn-sections {
  cursor: pointer;
  display: none;
  align-items: center;
  gap: 10px;
  position: relative;
  padding-left: 28px;
}
.btn-sections:hover .btn-sections__line:nth-child(3) {
  width: 100%;
}
.btn-sections__icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-sections__line {
  width: 18px;
  display: block;
  height: 2px;
  background-color: rgb(97, 100, 92);
  transition: width 0.3s;
}
@media (max-width: 1279px) {
  .btn-sections {
    display: flex;
  }
}
@media (max-width: 767px) {
  .btn-sections {
    order: 4;
  }
}

.btn-phone, .btn-cabinet, .btn-basket, .btn-favorite, .btn-search {
  position: relative;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  transition: opacity 0.3s;
}
.btn-phone:hover, .btn-cabinet:hover, .btn-basket:hover, .btn-favorite:hover, .btn-search:hover {
  opacity: 0.75;
}
@media (max-width: 767px) {
  .btn-phone, .btn-cabinet, .btn-basket, .btn-favorite, .btn-search {
    width: 16px;
    height: 16px;
  }
}

.btn-search {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.34981 7.249C1.34981 4.26709 3.76712 1.84978 6.74903 1.84978C9.73096 1.84978 12.1483 4.26709 12.1483 7.249C12.1483 10.2309 9.73096 12.6482 6.74903 12.6482C3.76712 12.6482 1.34981 10.2309 1.34981 7.249ZM6.74903 0.499969C3.02164 0.499969 0 3.52161 0 7.249C0 10.9764 3.02164 13.998 6.74903 13.998C8.36961 13.998 9.85683 13.4269 11.0203 12.4748L15.0455 16.5L16 15.5456L11.9747 11.5203C12.9268 10.3569 13.4981 8.86965 13.4981 7.249C13.4981 3.52161 10.4764 0.499969 6.74903 0.499969Z' fill='%23282922'/%3e%3c/svg%3e ");
}
.btn-search--fixed {
  display: none;
}

.btn-favorite {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.38477 2.25926C1.78478 2.83703 1.33651 3.76586 1.33651 5.17488C1.33651 5.4042 1.4119 5.71591 1.59233 6.11226C1.77006 6.50279 2.0322 6.93756 2.36179 7.402C3.02125 8.33121 3.91212 9.32551 4.81974 10.2469C5.72445 11.1653 6.63125 11.9967 7.31307 12.5993C7.59186 12.8457 7.83244 13.0533 8.01908 13.2124C8.20573 13.0533 8.4463 12.8457 8.72509 12.5993C9.40692 11.9967 10.3137 11.1653 11.2184 10.2469C12.1261 9.32551 13.0169 8.33121 13.6763 7.402C14.006 6.93756 14.2681 6.50279 14.4458 6.11226C14.6263 5.71591 14.7016 5.4042 14.7016 5.17488C14.7016 3.76586 14.2534 2.83703 13.6534 2.25926C13.0452 1.67358 12.2183 1.38809 11.3604 1.38809C10.8403 1.38809 10.3515 1.60263 9.91038 1.92828C9.46926 2.25394 9.11482 2.66275 8.88053 2.97569C8.65733 3.27382 8.31926 3.39867 8.01908 3.39866C7.7189 3.39866 7.38083 3.27382 7.15763 2.97569C6.92334 2.66275 6.56891 2.25394 6.12779 1.92828C5.68668 1.60263 5.19785 1.38809 4.6778 1.38809C3.81988 1.38809 2.99297 1.67358 2.38477 2.25926ZM8.01908 14.085C7.59594 14.6022 7.59581 14.6021 7.59574 14.602L7.59407 14.6007L7.58959 14.597L7.57289 14.5832L7.50933 14.5306C7.45407 14.4847 7.37361 14.4174 7.2715 14.331C7.06742 14.1582 6.77659 13.9088 6.42796 13.6007C5.7315 12.9851 4.80059 12.1319 3.8676 11.1848C2.93751 10.2406 1.99068 9.18838 1.27185 8.17551C0.912304 7.66883 0.600163 7.15869 0.375898 6.66598C0.154326 6.17922 0 5.6695 0 5.17488C0 3.46536 0.554119 2.16667 1.45771 1.29654C2.35308 0.434339 3.53095 0.0515747 4.6778 0.0515747C5.57591 0.0515747 6.33807 0.42225 6.9216 0.853042C7.37629 1.1887 7.74617 1.57784 8.01908 1.9093C8.292 1.57784 8.66188 1.1887 9.11656 0.853042C9.70008 0.42225 10.4622 0.0515747 11.3604 0.0515747C12.5072 0.0515747 13.6851 0.434339 14.5804 1.29654C15.484 2.16667 16.0382 3.46536 16.0382 5.17488C16.0382 5.6695 15.8839 6.17922 15.6623 6.66598C15.438 7.15869 15.1259 7.66883 14.7663 8.17551C14.0475 9.18838 13.1006 10.2406 12.1706 11.1848C11.2375 12.1319 10.3067 12.9851 9.6102 13.6007C9.26157 13.9088 8.97075 14.1582 8.76666 14.331C8.66455 14.4174 8.58409 14.4847 8.52883 14.5306L8.46528 14.5832L8.44857 14.597L8.44409 14.6007L8.44282 14.6017C8.44269 14.6018 8.44222 14.6022 8.01908 14.085ZM8.01908 14.085L7.59574 14.602L8.01908 14.9484L8.44222 14.6022L8.01908 14.085Z' fill='%23282922'/%3e%3c/svg%3e ");
}

.btn-basket {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='17' viewBox='0 0 14 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.02532 2.69133C4.95556 2.83666 4.90391 2.99246 4.86567 3.15395H8.65785C8.61962 2.99246 8.56797 2.83666 8.4982 2.69133C8.37818 2.44129 8.20938 2.23575 7.96253 2.08719C7.71253 1.93672 7.3369 1.81743 6.76174 1.81743C6.18663 1.81743 5.81101 1.93672 5.56101 2.08719C5.31416 2.23575 5.14534 2.44129 5.02532 2.69133ZM3.82042 2.11298C3.65815 2.45104 3.56168 2.81025 3.50434 3.15395H0.0859375V16.5191H13.4376V3.15395H10.0192C9.96188 2.81025 9.86539 2.45104 9.70313 2.11298C9.48903 1.66692 9.15663 1.24597 8.6517 0.942072C8.14991 0.64007 7.52315 0.480919 6.76174 0.480919C6.00039 0.480919 5.37362 0.64007 4.87183 0.942072C4.3669 1.24597 4.03453 1.66692 3.82042 2.11298ZM1.43602 4.49046H3.42049H4.757H8.76651H10.103H12.0875V15.1826H1.43602V4.49046ZM4.757 5.82697C4.757 6.40829 4.76741 7.08879 5.02532 7.62612C5.14534 7.87612 5.31416 8.08167 5.56101 8.23022C5.81101 8.38072 6.18663 8.5 6.76174 8.5C7.3369 8.5 7.71253 8.38072 7.96253 8.23022C8.20938 8.08167 8.37818 7.87612 8.4982 7.62612C8.75615 7.08879 8.76651 6.40829 8.76651 5.82697H10.103L10.1031 5.86556C10.1033 6.40623 10.1038 7.36978 9.70313 8.20443C9.48903 8.65049 9.15663 9.07149 8.6517 9.37535C8.14991 9.67733 7.52315 9.83651 6.76174 9.83651C6.00039 9.83651 5.37362 9.67733 4.87183 9.37535C4.3669 9.07149 4.03453 8.65049 3.82042 8.20443C3.41979 7.36978 3.42022 6.40623 3.42047 5.86556L3.42049 5.82697H4.757Z' fill='%23282922'/%3e%3c/svg%3e ");
}

.btn-cabinet {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.16217 4.49046C5.16217 3.01419 6.35893 1.81743 7.8352 1.81743C9.31145 1.81743 10.5082 3.01419 10.5082 4.49046C10.5082 5.96673 9.31145 7.16349 7.8352 7.16349C6.35893 7.16349 5.16217 5.96673 5.16217 4.49046ZM7.8352 0.480919C5.62079 0.480919 3.82566 2.27605 3.82566 4.49046C3.82566 6.70487 5.62079 8.5 7.8352 8.5C10.0496 8.5 11.8447 6.70487 11.8447 4.49046C11.8447 2.27605 10.0496 0.480919 7.8352 0.480919ZM1.82089 16.5191C1.82089 13.631 4.44562 11.173 7.8352 11.173C11.2248 11.173 13.8495 13.631 13.8495 16.5191H15.186C15.186 12.7639 11.827 9.83651 7.8352 9.83651C3.84342 9.83651 0.484375 12.7639 0.484375 16.5191H1.82089Z' fill='%23282922'/%3e%3c/svg%3e ");
}

.btn-phone {
  display: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.2899 9.75095L10.2898 9.75103L10.2993 9.75412C11.2203 10.0528 12.2082 10.2189 13.23 10.2189C13.2705 10.2189 13.3132 10.2357 13.3482 10.2707C13.3833 10.3058 13.4 10.3485 13.4 10.3889V13.0723C13.4 13.1973 13.3661 13.2969 13.3309 13.347C13.3164 13.3677 13.3054 13.375 13.2996 13.3781C13.295 13.3806 13.2764 13.3901 13.23 13.3901C6.34337 13.3901 0.6 7.65401 0.6 0.760051C0.6 0.703633 0.611417 0.682575 0.613018 0.679623L0.61303 0.679602C0.614972 0.67602 0.619947 0.667666 0.638723 0.655114C0.68725 0.622675 0.789381 0.590051 0.925556 0.590051H3.61667C3.65713 0.590051 3.69985 0.606762 3.7349 0.641816C3.76996 0.676869 3.78667 0.719584 3.78667 0.760051C3.78667 1.77611 3.94327 2.76366 4.25083 3.6888C4.26521 3.73719 4.26153 3.78672 4.24028 3.8304L3.43029 4.26707L2.92587 4.53901L3.17437 5.05539C4.33279 7.46261 6.49626 9.54259 8.81558 10.649L9.23276 10.848L9.53162 10.4954L10.1353 9.78317C10.1837 9.74221 10.2419 9.73452 10.2899 9.75095Z' stroke='%23282922' stroke-width='1.2'/%3e%3c/svg%3e ");
}
@media (max-width: 767px) {
  .btn-phone {
    display: flex;
  }
}

.burger {
  cursor: pointer;
  position: relative;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='20' viewBox='0 0 27 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1.49292C0 2.16411 0.544107 2.70822 1.2153 2.70822H25.5213C26.1925 2.70822 26.7366 2.16411 26.7366 1.49292C26.7366 0.821726 26.1925 0.277618 25.5213 0.277618H1.2153C0.544107 0.277618 0 0.821726 0 1.49292ZM0 10C0 10.6712 0.544107 11.2153 1.2153 11.2153H25.5213C26.1925 11.2153 26.7366 10.6712 26.7366 10C26.7366 9.32882 26.1925 8.78471 25.5213 8.78471H1.2153C0.544107 8.78471 0 9.32882 0 10ZM26.7366 18.5071C26.7366 19.1783 26.1925 19.7224 25.5213 19.7224H1.2153C0.544107 19.7224 0 19.1783 0 18.5071C0 17.8359 0.544107 17.2918 1.2153 17.2918H25.5213C26.1925 17.2918 26.7366 17.8359 26.7366 18.5071Z' fill='%23282922'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 27px;
  height: 20px;
  margin-right: 0;
}

.social-new {
  display: flex;
  align-items: center;
  gap: 12px;
}
.social-new .icon-dzen, .social-new .icon-telegram, .social-new .icon-pin, .social-new .icon-youtube, .social-new .icon-vk {
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
}
.social-new .icon-dzen:hover, .social-new .icon-telegram:hover, .social-new .icon-pin:hover, .social-new .icon-youtube:hover, .social-new .icon-vk:hover {
  opacity: 0.75;
}
.social-new .icon-vk {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.57486 9.96506H9.6231C9.6231 9.96506 9.93855 9.93006 10.1007 9.75696C10.2507 9.59596 10.2463 9.29695 10.2463 9.29695C10.2463 9.29695 10.2244 7.89054 10.8773 7.68352C11.5202 7.47869 12.345 9.04174 13.2213 9.64196C13.8829 10.0977 14.3856 9.99906 14.3856 9.99906L16.7264 9.96616C16.7264 9.96616 17.9499 9.88956 17.3693 8.92782C17.3222 8.84896 17.032 8.21585 15.6299 6.91459C14.1622 5.55199 14.3571 5.77216 16.125 3.41608C17.2017 1.98119 17.6322 1.10492 17.4975 0.730322C17.3693 0.373242 16.5774 0.467442 16.5774 0.467442L13.942 0.483872C13.942 0.483872 13.7449 0.456482 13.6025 0.543012C13.4601 0.627362 13.3691 0.825612 13.3691 0.825612C13.3691 0.825612 12.9529 1.93519 12.3943 2.88046C11.2223 4.87398 10.7513 4.97804 10.5607 4.85426C10.1149 4.56509 10.2266 3.6954 10.2266 3.07763C10.2266 1.14655 10.5191 0.341472 9.65705 0.13336C9.36898 0.0643535 9.15867 0.0183496 8.42589 0.0106816C7.4839 -0.000271433 6.68978 0.0139676 6.2396 0.234131C5.93948 0.380902 5.70836 0.708412 5.84856 0.727032C6.02382 0.748942 6.41814 0.833282 6.62625 1.11807C6.8979 1.485 6.88913 2.30979 6.88913 2.30979C6.88913 2.30979 7.04248 4.58262 6.52767 4.86522C6.17059 5.05909 5.68426 4.66367 4.63712 2.85637C4.10041 1.93081 3.69732 0.906672 3.69732 0.906672C3.69732 0.906672 3.61846 0.716082 3.47825 0.613122C3.31067 0.489341 3.07517 0.448822 3.07517 0.448822L0.570134 0.467442C0.570134 0.467442 0.195528 0.478392 0.0575157 0.642692C-0.0651621 0.787282 0.0465623 1.0874 0.0465623 1.0874C0.0465623 1.0874 2.00722 5.67358 4.22856 7.98583C6.2637 10.1054 8.57486 9.96616 8.57486 9.96616V9.96506Z' fill='%2396968D'/%3e%3c/svg%3e ");
}
.social-new .icon-youtube {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 5.65552C0 4.36152 0.16 3.06552 0.16 3.06552C0.16 3.06552 0.316 1.96552 0.796 1.47852C1.404 0.841521 2.204 0.861521 2.56 0.794521C3.84 0.670521 8 0.634521 8 0.634521C8 0.634521 11.362 0.638521 13.6 0.800521C13.914 0.838521 14.596 0.840521 15.204 1.47852C15.684 1.96452 15.84 3.06652 15.84 3.06652C15.84 3.06652 16 4.36052 16 5.65652V6.91452C16 8.21052 15.84 9.50452 15.84 9.50452C15.84 9.50452 15.684 10.6066 15.204 11.0926C14.596 11.7306 13.914 11.7326 13.6 11.7706C11.362 11.9326 8 11.9366 8 11.9366C8 11.9366 3.84 11.8996 2.56 11.7766C2.204 11.7096 1.404 11.7296 0.796 11.0926C0.316 10.6056 0.16 9.50552 0.16 9.50552C0.16 9.50552 0 8.21052 0 6.91552V5.65552ZM6.348 8.38552V3.89052L10.671 6.14552L6.351 8.38552H6.348Z' fill='%2396968D'/%3e%3c/svg%3e ");
}
.social-new .icon-pin {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='17' viewBox='0 0 14 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.843807 6.04723C0.843807 5.35549 0.964729 4.70197 1.20301 4.09202C1.43068 3.49959 1.76893 2.95586 2.19974 2.4898C2.62967 2.02986 3.12165 1.63214 3.66148 1.30814C4.21533 0.973073 4.81495 0.720287 5.44153 0.557712C6.07567 0.391196 6.72865 0.30722 7.38429 0.307865C8.39701 0.307865 9.3395 0.522146 10.2135 0.948931C11.0761 1.36793 11.8103 2.01095 12.3394 2.81078C12.8853 3.62434 13.1565 4.54459 13.1565 5.57066C13.1565 6.18594 13.096 6.78788 12.9725 7.37649C12.8511 7.96477 12.6582 8.53599 12.3981 9.07741C12.1501 9.60151 11.8259 10.086 11.436 10.5152C11.0442 10.9375 10.5696 11.2746 10.0419 11.5057C9.46896 11.7568 8.84916 11.8832 8.22363 11.8764C7.78884 11.8764 7.35495 11.7742 6.92638 11.5688C6.49782 11.3643 6.19018 11.0833 6.00524 10.7232C5.94033 10.9731 5.85142 11.3341 5.73316 11.8062C5.61935 12.2774 5.54289 12.5815 5.5091 12.7193C5.47354 12.8563 5.40774 13.0848 5.31171 13.4013C5.24659 13.6355 5.16305 13.8641 5.06187 14.0851L4.756 14.6843C4.62373 14.9415 4.47586 15.1903 4.31321 15.4294C4.15228 15.6624 3.95311 15.9407 3.71571 16.2608L3.58323 16.3079L3.49521 16.2119C3.40007 15.2045 3.35117 14.6016 3.35117 14.4025C3.35117 13.813 3.42141 13.1515 3.56012 12.417C3.69615 11.6835 3.91132 10.7615 4.20029 9.65268C4.48926 8.54482 4.65464 7.89308 4.6991 7.70014C4.49549 7.28491 4.39235 6.74254 4.39235 6.07569C4.39235 5.54309 4.55861 5.04429 4.89204 4.57483C5.22636 4.10714 5.64869 3.8733 6.16084 3.8733C6.55295 3.8733 6.85703 4.00311 7.07487 4.26363C7.2936 4.52326 7.40029 4.85046 7.40029 5.24968C7.40029 5.67291 7.25981 6.28552 6.97706 7.08663C6.69432 7.88863 6.55383 8.48702 6.55383 8.88447C6.55383 9.28724 6.69787 9.62423 6.98595 9.8883C7.27025 10.1525 7.64622 10.2957 8.03425 10.2875C8.38634 10.2875 8.71266 10.2075 9.01585 10.0466C9.31431 9.89035 9.57265 9.66731 9.77073 9.39483C10.2021 8.80293 10.5097 8.13006 10.6749 7.4165C10.7603 7.04129 10.8261 6.68474 10.867 6.34954C10.9105 6.01256 10.9292 5.69425 10.9292 5.39194C10.9292 4.28319 10.5771 3.41895 9.87742 2.80011C9.17412 2.18127 8.25831 1.87363 7.13177 1.87363C5.85053 1.87363 4.77912 2.28797 3.9211 3.11931C3.0622 3.94799 2.63008 5.00161 2.63008 6.2793C2.63008 6.56115 2.67276 6.83323 2.75367 7.09641C2.8328 7.35871 2.91905 7.56766 3.01241 7.72237C3.10488 7.87441 3.19201 8.02289 3.27115 8.15982C3.35117 8.29675 3.39296 8.39455 3.39296 8.45324C3.39296 8.63284 3.34583 8.86668 3.2507 9.15565C3.152 9.44462 3.03553 9.58866 2.89504 9.58866C2.88171 9.58866 2.82658 9.57888 2.73055 9.55843C2.39798 9.45914 2.09764 9.27354 1.86009 9.0205C1.60796 8.75826 1.40898 8.44968 1.27414 8.11181C1.13969 7.77514 1.03496 7.42734 0.961173 7.07241C0.881446 6.73656 0.842046 6.39241 0.843807 6.04723Z' fill='%2396968D'/%3e%3c/svg%3e ");
}
.social-new .icon-telegram {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.7011 0.727341L0.525853 6.22192C-0.0445784 6.47778 -0.237518 6.99021 0.387955 7.2683L4.02455 8.42994L12.8173 2.96777C13.2974 2.62485 13.7889 2.7163 13.3659 3.0935L5.81416 9.96647L5.57693 12.8751C5.79666 13.3243 6.19898 13.3263 6.4556 13.1031L8.54492 11.116L12.1232 13.8093C12.9543 14.3039 13.4065 13.9847 13.5853 13.0782L15.9323 1.90728C16.176 0.791466 15.7605 0.299843 14.7011 0.727341Z' fill='%2396968D'/%3e%3c/svg%3e ");
}
.social-new .icon-dzen {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.54286 9.85072C8.28572 11.1479 8.19429 12.765 8.08571 16.3079C11.3886 16.3079 13.6686 16.2965 14.8457 15.1536C15.9886 13.9765 16 11.5879 16 8.39357C12.4571 8.50786 10.84 8.59358 9.54286 9.85072ZM0 8.39357C0 11.5879 0.0114286 13.9765 1.15429 15.1536C2.33143 16.2965 4.61143 16.3079 7.91429 16.3079C7.8 12.765 7.71429 11.1479 6.45714 9.85072C5.16 8.59358 3.54286 8.50215 0 8.39357ZM7.91429 0.307861C4.61714 0.307861 2.33143 0.31929 1.15429 1.46215C0.0114286 2.63929 0 5.02786 0 8.22215C3.54286 8.10786 5.16 8.02215 6.45714 6.765C7.71429 5.46786 7.80572 3.85072 7.91429 0.307861ZM9.54286 6.765C8.28572 5.46786 8.19429 3.85072 8.08571 0.307861C11.3886 0.307861 13.6686 0.31929 14.8457 1.46215C15.9886 2.63929 16 5.02786 16 8.22215C12.4571 8.10786 10.84 8.02215 9.54286 6.765Z' fill='%2396968D'/%3e%3cpath d='M16 8.39357V8.22215C12.4571 8.10786 10.84 8.02215 9.54286 6.765C8.28572 5.46786 8.19429 3.85072 8.08571 0.307861H7.91429C7.8 3.85072 7.71429 5.46786 6.45714 6.765C5.16 8.02215 3.54286 8.11358 0 8.22215V8.39357C3.54286 8.50786 5.16 8.59358 6.45714 9.85072C7.71429 11.1479 7.80572 12.765 7.91429 16.3079H8.08571C8.2 12.765 8.28572 11.1479 9.54286 9.85072C10.84 8.59358 12.4571 8.50215 16 8.39357Z' fill='white'/%3e%3c/svg%3e ");
}

.search-block__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  pointer-events: none;
  padding: 40px 28px;
  z-index: 11;
}
@media (max-width: 767px) {
  .search-block__wrapper {
    padding: 15px 15px;
  }
}
.search-block__wrapper.opened {
  pointer-events: initial;
}
.search-block__wrapper.opened::before {
  opacity: 1;
}
.search-block__wrapper::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: -1;
  position: fixed;
}

.search-block {
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 5;
  padding: 60px;
  min-height: 400px;
  transform: translateY(-150%);
  transition: transform 0.5s;
}
@media (max-width: 1023px) {
  .search-block {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .search-block {
    padding: 35px 30px;
  }
}
@media (max-width: 479px) {
  .search-block {
    padding: 35px 15px;
  }
}
.search-block.opened {
  transform: translateY(0);
}
.search-block .input-item {
  position: relative;
  width: 100%;
}
.search-block input {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-bottom: solid 1px rgb(150, 150, 141);
  color: rgb(40, 41, 34);
  width: 100%;
  font-weight: 400;
  padding-right: 50px;
  border-radius: 0;
}
@media (max-width: 767px) {
  .search-block input {
    font-size: 14px;
    line-height: 20px;
    padding-right: 25px;
  }
}
.search-block__icon {
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.55759 8.57331C1.55759 5.21866 4.27707 2.49918 7.63172 2.49918C10.9864 2.49918 13.7059 5.21866 13.7059 8.57331C13.7059 11.928 10.9864 14.6474 7.63172 14.6474C4.27707 14.6474 1.55759 11.928 1.55759 8.57331ZM7.63172 0.980652C3.43841 0.980652 0.0390625 4.38 0.0390625 8.57331C0.0390625 12.7666 3.43841 16.166 7.63172 16.166C9.45487 16.166 11.128 15.5234 12.4369 14.4523L16.9652 18.9807L18.0391 17.907L13.5106 13.3786C14.5817 12.0697 15.2244 10.3965 15.2244 8.57331C15.2244 4.38 11.825 0.980652 7.63172 0.980652Z' fill='%23282922' /%3e%3c/svg%3e");
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .search-block__icon {
    right: 5px;
    width: 14px;
    height: 14px;
  }
}
.search-block__close {
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.75 2.16947L15.9875 0.406967L9 7.39447L2.0125 0.406967L0.25 2.16947L7.2375 9.15697L0.25 16.1445L2.0125 17.907L9 10.9195L15.9875 17.907L17.75 16.1445L10.7625 9.15697L17.75 2.16947Z' fill='%23282922'/%3e%3c/svg%3e ");
  position: absolute;
  right: 25px;
  top: 25px;
}
@media (max-width: 767px) {
  .search-block__close {
    width: 14px;
    height: 14px;
    right: 20px;
    top: 15px;
  }
}
.search-block__content {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1023px) {
  .search-block__content {
    flex-direction: column;
  }
}
.search-block__left {
  width: calc(100% - 885px);
  padding-right: 15px;
}
@media (max-width: 1439px) {
  .search-block__left {
    width: calc(100% - 600px);
  }
}
@media (max-width: 1279px) {
  .search-block__left {
    width: calc(100% - 400px);
  }
}
@media (max-width: 1023px) {
  .search-block__left {
    width: 100%;
  }
}
.search-block__right {
  width: 100%;
  max-width: 885px;
}
@media (max-width: 1439px) {
  .search-block__right {
    max-width: 600px;
  }
}
@media (max-width: 1279px) {
  .search-block__right {
    max-width: 400px;
  }
}
@media (max-width: 1023px) {
  .search-block__right {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
  }
}
.search-block__right .btn {
  margin-top: 34px;
}

.result-text {
  font-size: 30px;
  font-weight: 800;
  line-height: 24px;
  padding: 25px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
@media (max-width: 1439px) {
  .result-text {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 1023px) {
  .result-text {
    padding: 0;
    font-size: 20px;
    line-height: 22px;
  }
}

.result-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(40, 41, 34);
  margin-top: 40px;
}
@media (max-width: 1439px) {
  .result-link {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .result-link {
    margin-top: 20px;
  }
}
.result-link li + li {
  margin-top: 20px;
}
@media (max-width: 1023px) {
  .result-link li + li {
    margin-top: 10px;
  }
}
.result-link a {
  position: relative;
  padding-left: 42px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration 0.3s;
}
.result-link a:hover {
  text-decoration-color: rgb(40, 41, 34);
}
.result-link a::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.89455 9.97226C1.89455 5.87215 5.21834 2.54836 9.31846 2.54836C13.4186 2.54836 16.7424 5.87215 16.7424 9.97226C16.7424 14.0724 13.4186 17.3962 9.31846 17.3962C5.21834 17.3962 1.89455 14.0724 1.89455 9.97226ZM9.31846 0.692383C4.19332 0.692383 0.0385742 4.84713 0.0385742 9.97226C0.0385742 15.0974 4.19332 19.2521 9.31846 19.2521C11.5467 19.2521 13.5917 18.4668 15.1914 17.1577L20.726 22.6924L22.0385 21.38L16.5038 15.8453C17.8129 14.2456 18.5983 12.2006 18.5983 9.97226C18.5983 4.84713 14.4436 0.692383 9.31846 0.692383Z' fill='%23282922'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  left: 0;
  top: 0;
}

.search-category__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1439px) {
  .search-category__list {
    gap: 20px;
  }
}
.search-category__item {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  padding: 45px 72px;
  justify-content: space-between;
  border-radius: 10px;
  gap: 20px;
}
@media (max-width: 1439px) {
  .search-category__item {
    padding: 25px 32px;
  }
}
@media (max-width: 1023px) {
  .search-category__item {
    flex-direction: column;
    padding: 15px 20px;
  }
}
.search-category__media {
  width: 50%;
  height: 105px;
  position: relative;
  max-width: 275px;
  position: relative;
  z-index: 1;
}
.search-category__media > a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
}
.search-category__media:hover .picture {
  transform: scale(1.1);
}
.search-category__media .picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.search-category__media .picture img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.search-category__content {
  width: 100%;
  max-width: 360px;
}
.search-category__content ul li {
  display: inline-block;
  vertical-align: middle;
}
.search-category__content ul li:last-child a::before {
  display: none;
}
.search-category__content ul li a {
  font-size: 8px;
  font-weight: 600;
  line-height: 10px;
  position: relative;
  padding-right: 8px;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: text-decoration 0.3s;
  -moz-transition: text-decoration 0.3s;
  -o-transition: text-decoration 0.3s;
  transition: text-decoration 0.3s;
}
@media (hover: hover) {
  .search-category__content ul li a:hover {
    text-decoration-color: rgb(40, 41, 34);
  }
}
.search-category__content ul li a::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #282922;
  top: 3px;
  right: 0;
  overflow: hidden;
}
.search-category__name {
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: text-decoration 0.3s;
  -moz-transition: text-decoration 0.3s;
  -o-transition: text-decoration 0.3s;
  transition: text-decoration 0.3s;
}
@media (hover: hover) {
  .search-category__name:hover {
    text-decoration-color: rgb(40, 41, 34);
  }
}
@media (max-width: 1279px) {
  .search-category__name {
    font-size: 18px;
    line-height: 20px;
  }
}

.result-content {
  width: 100%;
  margin-top: 150px;
}
@media (max-width: 1439px) {
  .result-content {
    margin-top: 100px;
  }
}
@media (max-width: 1023px) {
  .result-content {
    margin-top: 50px;
  }
}
.result-content__title {
  font-size: 30px;
  font-weight: 800;
  line-height: 24px;
}
@media (max-width: 1023px) {
  .result-content__title {
    font-size: 24px;
    line-height: 26px;
  }
}
.result-content__list {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1439px) {
  .result-content__list {
    margin-top: 30px;
  }
}
@media (max-width: 1023px) {
  .result-content__list {
    grid-template-columns: 1fr;
  }
}
.result-content__media {
  background-color: #f5f5f5;
  position: relative;
  height: 226px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.result-content__media > a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
}
@media (max-width: 1439px) {
  .result-content__media {
    height: 150px;
  }
}
@media (max-width: 1023px) {
  .result-content__media {
    height: 110px;
  }
}
.result-content__media:hover .picture {
  transform: translateX(-50%) scale(1.1);
}
.result-content__media .picture {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 362px;
  transform: translateX(-50%);
  transition: all 0.3s;
}
@media (max-width: 1439px) {
  .result-content__media .picture {
    max-width: 250px;
  }
}
@media (max-width: 1023px) {
  .result-content__media .picture {
    max-width: 70%;
    width: 100%;
  }
}
.result-content__media .picture img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.result-content__info {
  color: #686868;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  gap: 12px;
}
@media (max-width: 1023px) {
  .result-content__info {
    padding: 10px 5px;
  }
}
.result-content__caption {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: text-decoration 0.3s;
  -moz-transition: text-decoration 0.3s;
  -o-transition: text-decoration 0.3s;
  transition: text-decoration 0.3s;
}
@media (hover: hover) {
  .result-content__caption:hover {
    text-decoration-color: #686868;
  }
}
@media (max-width: 1023px) {
  .result-content__caption {
    font-size: 16px;
    line-height: 18px;
  }
}
.result-content__desc {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
}
.result-content__price {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  grid-column: 2/3;
  grid-row: 1/3;
  text-align: right;
}
@media (max-width: 1023px) {
  .result-content__price {
    font-size: 16px;
    line-height: 18px;
  }
}
.result-content__controls {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1279px) {
  .header-new-top__menu {
    display: none;
  }
}
.header-new-top__menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header-catalog {
  left: 80px;
}
@media (max-width: 767px) {
  .header-catalog {
    left: auto !important;
    right: 14px;
  }
}
@media (max-width: 389px) {
  .header-catalog {
    width: 290px;
  }
}

.footer-bottom__links {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
  column-gap: 20px;
  row-gap: 10px;
  max-width: 1100px;
  color: #96968d;
}
@media (max-width: 767px) {
  .footer-bottom__links {
    font-size: 11px;
    line-height: 16px;
    margin-top: 0;
    text-align: center;
    justify-content: center;
  }
}
.footer-bottom__links a {
  text-decoration: underline;
  transition: text-decoration 0.3s;
  text-underline-offset: 4px;
}
@media (max-width: 767px) {
  .footer-bottom__links a {
    text-underline-offset: 3px;
  }
}
.footer-bottom__links a:hover {
  text-decoration-color: transparent;
}

/*# sourceMappingURL=style_new.css.map */
