body {
  font-family: $fontMain;
  // font-size: 17px;
  // font-weight: 400;
  // line-height: 22px;

  &.hidden {
    overflow: hidden;
  }
}

.overlay-new {
  &::before {
    background-color: rgba(40, 41, 34, 0.5);
    backdrop-filter: blur(10px) contrast(0.6);
    -webkit-backdrop-filter: blur(2px) contrast(0.6);
  }
}

.checkBl {
  a {
    text-decoration: underline;
    transition: text-decoration 0.3s;

    @include hover {
      text-decoration-color: transparent;
    }
  }

  label {
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    padding-left: 35px;
    display: inline-block;

    @include before {
      width: 20px;
      height: 20px;
      top: -2px;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
      border: solid 1px #000;
    }
  }

  input {
    display: none;

    &:checked {
      & + label {
        &::before {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.299716 6.44309L1.99006 4.73145L5.43466 8.11923L12.8849 0.697354L14.5895 2.409L5.43466 11.5283L0.299716 6.44309Z' fill='%23F94242'/%3e%3cpath d='M0.299716 6.44309L1.99006 4.73145L5.43466 8.11923L12.8849 0.697354L14.5895 2.409L5.43466 11.5283L0.299716 6.44309Z' fill='%23F94242'/%3e%3cpath d='M0.299716 6.44309L1.99006 4.73145L5.43466 8.11923L12.8849 0.697354L14.5895 2.409L5.43466 11.5283L0.299716 6.44309Z' fill='%23525151'/%3e%3c/svg%3e ");
        }
      }
    }
  }

  a {
  }
}

.checkBlList {
  padding: 20px 0;
}

.form__field {
  & + .checkBl {
    margin-top: -20px;

    @include responsive1279 {
      margin-top: 20px;
    }
  }
}

.checkBl {
  & + .checkBl {
    margin-top: 20px;
  }
}

.notification-cookie {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.11);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  z-index: 9999999;
  max-width: 50%;

  @include responsive1279 {
    max-width: 75%;
  }

  @include responsive1023 {
    max-width: calc(100% - 40px);
  }

  @include responsive767 {
    width: calc(100% - 40px);
    font-size: 14px;
    line-height: 18px;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
  }

  @include responsive389 {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;
  }

  .notification-cookie__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    color: $colorBlack;
    font-size: 14px;
    line-height: 21px;

    @include responsive389 {
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .notification-cookie__link {
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
    transition: text-decoration 0.3s;

    @include responsive767 {
      font-size: 12px;
    }

    &:hover {
      text-decoration-color: transparent;
    }
  }

  .notification-cookie__btn {
    width: 190px;
    height: 48px;
    border-radius: 12px;
    transition: opacity 0.3s;
    font-weight: 600;
    font-size: 18px;
    padding: 6px;
    min-width: 190px;

    @include responsive767 {
      font-size: 14px;
      min-width: initial;
      width: 100%;
    }

    &:hover {
      opacity: 0.85;
    }
  }
}

.ui-datepicker {
  position: absolute;
  width: 400px;

  @include responsive767 {
    width: 320px;
  }
}

.ui-datepicker td a {
  padding: 0.9em;

  @include responsive767 {
    padding: 0.6em;
  }
}

.ui-icon {
  display: none !important;
}

.ui-datepicker-prev {
  cursor: pointer;
  transform: rotate(90deg);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.59 0L6 4.58L1.41 0L0 1.41L6 7.41L12 1.41L10.59 0Z' fill='%23282922'/%3e%3c/svg%3e ") !important;
}

.ui-datepicker-next {
  cursor: pointer;
  transform: rotate(-90deg);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.59 0L6 4.58L1.41 0L0 1.41L6 7.41L12 1.41L10.59 0Z' fill='%23282922'/%3e%3c/svg%3e ") !important;
}

.icon-calendar {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='23' height='26' viewBox='0 0 23 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.29435 0.105326C4.4572 0.399151 4.01448 1.11386 4.01448 2.17797V2.75768L3.11293 2.7815C2.31602 2.81327 2.14698 2.83709 1.74451 3.03562C0.867107 3.46445 0.255342 4.25062 0.0702029 5.19562C0.00580661 5.54503 -0.0102925 8.07033 0.00580661 14.3677L0.0299552 23.0633L0.215095 23.5159C0.480729 24.1592 1.08444 24.7865 1.74451 25.1042L2.28383 25.3662H11.5005H20.7173L21.2566 25.1042C21.9166 24.7865 22.5204 24.1592 22.786 23.5159L22.9711 23.0633L22.9953 14.3677C23.0114 8.07033 22.9953 5.54503 22.9309 5.19562C22.7457 4.25062 22.134 3.4565 21.2646 3.03562C20.8783 2.85297 20.677 2.81327 20.017 2.78944L19.2281 2.75768V2.26533C19.2281 1.48709 19.0349 0.970915 18.5922 0.542091C17.8194 -0.188498 16.7649 -0.180555 16.0083 0.565914C15.5897 0.978855 15.4448 1.36797 15.4448 2.11444V2.77356H14.4869H13.5371L13.4888 2.0668C13.4324 1.23297 13.2714 0.859739 12.7885 0.446796C12.0399 -0.180555 11.0015 -0.14085 10.3012 0.557974C9.89869 0.955032 9.78599 1.24092 9.73769 2.01915L9.6894 2.73386L8.75565 2.75768L7.81386 2.7815L7.78166 2.08268C7.74141 1.26474 7.57237 0.86768 7.0733 0.454739C6.55813 0.0179729 5.90612 -0.109085 5.29435 0.105326ZM6.27639 1.15356C6.70302 1.36797 6.75132 1.61415 6.75132 3.60739C6.75132 5.52915 6.70302 5.80709 6.34079 6.06121C6.04296 6.25974 5.66463 6.22003 5.3668 5.95797L5.10116 5.72768L5.07701 3.82974C5.04482 1.69356 5.08506 1.42356 5.48754 1.18533C5.80147 0.994738 5.96246 0.986797 6.27639 1.15356ZM11.9352 1.1218C12.386 1.32033 12.4262 1.47121 12.4504 3.32944C12.4665 4.2665 12.4584 5.19562 12.4262 5.38621C12.3135 6.13268 11.6132 6.4265 11.082 5.95797L10.8163 5.72768L10.7922 3.75827C10.768 1.59827 10.7922 1.4315 11.2108 1.17739C11.5005 1.00268 11.6535 0.994738 11.9352 1.1218ZM17.6584 1.15356C18.1012 1.36003 18.1414 1.55856 18.1414 3.60739C18.1414 4.60797 18.1173 5.53709 18.077 5.65621C18.0046 5.91033 17.594 6.18827 17.2801 6.18827C17.1513 6.18827 16.9501 6.09297 16.7971 5.95797L16.5315 5.72768L16.5074 3.71062C16.4913 1.81268 16.4993 1.68562 16.6522 1.43944C16.9018 1.03444 17.2238 0.947092 17.6584 1.15356ZM21.2405 14.8362C21.2405 20.3712 21.2163 22.6027 21.1519 22.7933C21.0312 23.1427 20.7817 23.4127 20.4597 23.5477C20.0733 23.7144 2.92779 23.7144 2.54141 23.5477C2.21943 23.4127 1.96989 23.1427 1.84915 22.7933C1.78475 22.6027 1.76061 20.3712 1.76061 14.8362V7.14121H11.5005H21.2405V14.8362Z' fill='%23999999'/%3e%3cpath d='M3.42695 10.2143C3.39475 10.2382 3.37061 10.8814 3.37061 11.6438V13.0176H4.98051H6.59042V11.5882V10.1588H5.03686C4.17556 10.1588 3.4511 10.1826 3.42695 10.2143Z' fill='%23999999'/%3e%3cpath d='M7.71729 11.5882V13.0176H9.32719H10.9371V11.5882V10.1588H9.32719H7.71729V11.5882Z' fill='%23999999'/%3e%3cpath d='M12.064 11.5882V13.0176H13.6739H15.2838V11.5882V10.1588H13.6739H12.064V11.5882Z' fill='%23999999'/%3e%3cpath d='M16.4106 11.5882V13.0176H18.0206H19.6305L19.6144 11.604L19.5902 10.1985L18.0045 10.1746L16.4106 10.1588V11.5882Z' fill='%23999999'/%3e%3cpath d='M3.37061 15.3999V16.8293H4.98051H6.59042V15.3999V13.9705H4.98051H3.37061V15.3999Z' fill='%23999999'/%3e%3cpath d='M7.71729 15.3999V16.8293H9.32719H10.9371V15.3999V13.9705H9.32719H7.71729V15.3999Z' fill='%23999999'/%3e%3cpath d='M12.064 15.3999V16.8293H13.6739H15.2838V15.3999V13.9705H13.6739H12.064V15.3999Z' fill='%23999999'/%3e%3cpath d='M16.4106 15.3999V16.8293H18.0206H19.6305V15.3999V13.9705H18.0206H16.4106V15.3999Z' fill='%23999999'/%3e%3cpath d='M3.37061 19.2117V20.6411H4.98051H6.59042V19.2117V17.7823H4.98051H3.37061V19.2117Z' fill='%23999999'/%3e%3cpath d='M7.71729 19.2117V20.6411H9.32719H10.9371V19.2117V17.7823H9.32719H7.71729V19.2117Z' fill='%23999999'/%3e%3cpath d='M12.064 19.2117V20.6411H13.6739H15.2838V19.2117V17.7823H13.6739H12.064V19.2117Z' fill='%23999999'/%3e%3cpath d='M16.4106 19.2117V20.6411H18.0206H19.6305V19.2117V17.7823H18.0206H16.4106V19.2117Z' fill='%23999999'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  pointer-events: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #ff000f;
  background: #ff000f;
}
