.footer-bottom__links {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
  column-gap: 20px;
  row-gap: 10px;
  max-width: 1100px;
  color: #96968d;

  @include responsive767 {
    font-size: 11px;
    line-height: 16px;
    margin-top: 0;
    text-align: center;
    justify-content: center;
  }

  a {
    text-decoration: underline;
    transition: text-decoration 0.3s;
    text-underline-offset: 4px;

    @include responsive767 {
      text-underline-offset: 3px;
    }

    &:hover {
      text-decoration-color: transparent;
    }
  }
}
